@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 33% 91%;
    --foreground: 0 0% 0%;

    --muted: 220 14% 91%;
    --muted-foreground: 220 9% 46%;

    --popover: 30 33% 91%;
    --popover-foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 16 100% 54%;
    --primary-foreground: 0 0% 0%;

    --secondary: 217 32.6% 57.5%;
    --secondary-foreground: 0 0% 0%;

    --accent: 217 32.6% 57.5%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 0%;

    --ring: 16 100% 54%;

    --radius: 0.5rem;

  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 30 33% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215 14% 70%;

    --popover: 0 0% 8%;
    --popover-foreground: 30 33% 91%;

    --card: 0 0% 8%;
    --card-foreground: 30 33% 91%;

    --border: 223 47% 11%;
    --input: 223 47% 11%;

    --primary: 16 100% 54%;
    --primary-foreground: 0 0% 0%;

    --secondary: 217 32.6% 57.5%;
    --secondary-foreground: 0 0% 0%;

    --accent: 217 32.6% 57.5%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 0%;

    --ring: 16 100% 54%;
  }

  /* --- THIS IS THE COMBINED AND CORRECTED PART --- */
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}